@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.coinPageContainer{
    display: flex;

    .coinImage{
        margin-bottom: 20px;
    }
    .coinDescription{
        margin-bottom: 20px;
        text-align: center;
    }
    .headingName{
        font-weight: bold;
        font-family: 'Metamorphous', cursive;
        margin-bottom: 20px;
    }
    .marketDataContent{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .marketData{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .coinTag{
        text-align: center;
    }
    @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.sideBar{
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-right: 2px solid grey;
    padding: 2%;

    .backButton{
        margin-bottom: 3%;
        border: 1px solid #AA3EFF;
        color:#AA3EFF;

        
    }
    .backButton:hover{
        border:1px solid #AA3EFF;
        background-color:rgba(170, 62, 255, 0.1);
    }

    @media only screen and (max-width: 900px) {
        width: 100%
    }

}

.coinChart{
    display:flex;
}
