.tableContainer{
    text-align: center;
    .tableHead{
        background-color: #FFDD2B;

        .tableHeadCell{
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color:black;
        }
    }
    .tableCellCoin{
        display: flex;
        gap: 15px;

        .tableCoinContent{
            display: flex;
            flex-direction: column;
        }
    }

    .tableCoinIcon{
        height: 50px;
        margin-bottom: 10px;
    }
  
    tr:hover{
        background-color:rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }

}


